.bg_gray {background: #5E6068;}

.logo {margin-left: 27%;
	     margin-top: 0.7%;}

@media (min-width: 1400px) {.logo{margin-left: 27%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.logo{margin-left: 26%;}}
@media (min-width: 992px) and (max-width: 1199px) {.logo{margin-left: 18%;}}
@media (min-width: 768px) and (max-width: 991px) {.logo{margin-left: 17%;}}
@media (min-width: 576px) and (max-width: 767px) {.logo{margin-left: 12%;}}
@media (max-width: 575px) {.logo{margin-left: 12%;}}

.item_ {height: 300px;}

@media (min-width: 1400px) {.item_{height: 300px}}
@media (min-width: 1200px) and (max-width: 1399px) {.item_{height: 300px}}
@media (min-width: 992px) and (max-width: 1199px) {.item_{height: 500px}}
@media (min-width: 768px) and (max-width: 991px) {.item_{height: 500px}}
@media (min-width: 576px) and (max-width: 767px) {.item_{height: 500px}}
@media (max-width: 575px) {.item_{height: 500px}}

.item {height: 300px;}

@media (min-width: 1400px) {.item{height: 300px}}
@media (min-width: 1200px) and (max-width: 1399px) {.item{height: 250px}}
@media (min-width: 992px) and (max-width: 1199px) {.item{height: 900px}}
@media (min-width: 768px) and (max-width: 991px) {.item{height: 900px}}
@media (min-width: 576px) and (max-width: 767px) {.item{height: 900px}}
@media (max-width: 575px) {.item{height: 900px}}

.gradient_text{color: transparent;
               -webkit-background-clip: text;
               background-clip: text;
               background-image: linear-gradient(to top left, #6c757d, #ffffff);
               font-family: Tahoma;}

.img_phone {float: left; 
	          margin-left: 10%;
            margin-top: 0%;}

.img_phone img{height: 270px;}

@media (min-width: 1400px) {.img_phone img{height: 270px}}
@media (min-width: 1200px) and (max-width: 1399px) {.img_phone img{height: 270px}}
@media (min-width: 992px) and (max-width: 1199px) {.img_phone img{height: 280px}}
@media (min-width: 768px) and (max-width: 991px) {.img_phone img{height: 280px}}
@media (min-width: 576px) and (max-width: 767px) {.img_phone img{height: 280px}}
@media (max-width: 575px) {.img_phone img{height: 280px}}

@media (min-width: 1400px) {.img_phone {margin-left: 10%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.img_phone {margin-left: 10%;}}
@media (min-width: 992px) and (max-width: 1199px) {.img_phone {margin-left: 0%;}}
@media (min-width: 768px) and (max-width: 991px) {.img_phone {margin-left: 0%;}}
@media (min-width: 576px) and (max-width: 767px) {.img_phone {margin-left: 0%;}}
@media (max-width: 575px) {.img_phone {margin-left: 0%;}}

@media (min-width: 1400px) {.img_phone {margin-top: 0%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.img_phone {margin-top: 0%;}}
@media (min-width: 992px) and (max-width: 1199px) {.img_phone {margin-top: 5%;}}
@media (min-width: 768px) and (max-width: 991px) {.img_phone {margin-top: 5%;}}
@media (min-width: 576px) and (max-width: 767px) {.img_phone {margin-top: 5%;}}
@media (max-width: 575px) {.img_phone {margin-top: 5%;}}

.carousel-caption {bottom: 0%;}

.carousel-indicators {left: 75%;}

@media (min-width: 1400px) {.carousel-indicators{left: 58%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.carousel-indicators{left: 57%;}}
@media (min-width: 992px) and (max-width: 1199px) {.carousel-indicators{left: 57%;}}
@media (min-width: 768px) and (max-width: 991px) {.carousel-indicators{left: 57%;}}
@media (min-width: 576px) and (max-width: 767px) {.carousel-indicators{left: 48%;}}
@media (max-width: 575px) {.carousel-indicators{left: 48%;}}

.carousel-indicators [data-bs-target] {width: 7px;
                                       height: 5px;
                                       margin-right: 1px;
                                       margin-left: 1px;
                                       background-color: #8CA6B3;
                                       border-radius: 100%;}

@media (min-width: 1400px) {.carousel-indicators [data-bs-target]{height: 5px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.carousel-indicators [data-bs-target]{height: 5px;}}
@media (min-width: 992px) and (max-width: 1199px) {.carousel-indicators [data-bs-target]{height: 4px;}}
@media (min-width: 768px) and (max-width: 991px) {.carousel-indicators [data-bs-target]{height: 4px;}}
@media (min-width: 576px) and (max-width: 767px) {.carousel-indicators [data-bs-target]{height: 3px;}}
@media (max-width: 575px) {.carousel-indicators [data-bs-target]{height: 3px;}}

@media (min-width: 1400px) {.carousel-indicators [data-bs-target]{width: 7px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.carousel-indicators [data-bs-target]{width: 7px;}}
@media (min-width: 992px) and (max-width: 1199px) {.carousel-indicators [data-bs-target]{width: 6px;}}
@media (min-width: 768px) and (max-width: 991px) {.carousel-indicators [data-bs-target]{width: 6px;}}
@media (min-width: 576px) and (max-width: 767px) {.carousel-indicators [data-bs-target]{width: 5px;}}
@media (max-width: 575px) {.carousel-indicators [data-bs-target]{width: 5px;}}

.carousel-indicators .active {background-color: #2F50D6;}

.text_header {position: absolute; 
	            margin-top: 15%; 
	            font-family: Inter; 
	            font-size: 30px;
	            letter-spacing: 0.05em;
	            text-align: left;
	            height: 15%;}

@media (min-width: 1400px) {.text_header{font-size: 30px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.text_header{font-size: 25px;}}
@media (min-width: 992px) and (max-width: 1199px) {.text_header{font-size: 27px;}}
@media (min-width: 768px) and (max-width: 991px) {.text_header{font-size: 25px;}}
@media (min-width: 576px) and (max-width: 767px) {.text_header{font-size: 25px;}}
@media (max-width: 575px) {.text_header{font-size: 25px;}}

@media (min-width: 1400px) {.text_header{margin-top: 15%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.text_header{margin-top: 20%;}}
@media (min-width: 992px) and (max-width: 1199px) {.text_header{margin-top: 3%;}}
@media (min-width: 768px) and (max-width: 991px) {.text_header{margin-top: 3%;}}
@media (min-width: 576px) and (max-width: 767px) {.text_header{margin-top: 3%;}}
@media (max-width: 575px) {.text_header{margin-top: 3%;}}

@media (min-width: 1400px) {.text_header{text-align: left;}}
@media (min-width: 1200px) and (max-width: 1399px) {.text_header{text-align: left;}}
@media (min-width: 992px) and (max-width: 1199px) {.text_header{text-align: center;}}
@media (min-width: 768px) and (max-width: 991px) {.text_header{text-align: center;}}
@media (min-width: 576px) and (max-width: 767px) {.text_header{text-align: center;}}
@media (max-width: 575px) {.text_header{text-align: center;}}

.text {position: absolute; 
	     margin-top: 27%; 
	     font-family: Inter; 
	     font-size: 13px;
	     font-weight: 700;
	     font-stretch: 0.01rem;
	     color: #58729D;
	     text-align: left;
	     height: 15%;}

@media (min-width: 1400px) {.text{font-size: 13px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.text{font-size: 10px;}}
@media (min-width: 992px) and (max-width: 1199px) {.text{font-size: 11px;}}
@media (min-width: 768px) and (max-width: 991px) {.text{font-size: 11px;}}
@media (min-width: 576px) and (max-width: 767px) {.text{font-size: 11px;}}
@media (max-width: 575px) {.text{font-size: 11px;}}

@media (min-width: 1400px) {.text{ margin-top: 27%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.text{ margin-top: 32%;}}
@media (min-width: 992px) and (max-width: 1199px) {.text{ margin-top: 10%;}}
@media (min-width: 768px) and (max-width: 991px) {.text{ margin-top: 10%;}}
@media (min-width: 576px) and (max-width: 767px) {.text{margin-top: 10%;}}
@media (max-width: 575px) {.text{margin-top: 10%;}}

@media (min-width: 1400px) {.text{text-align: left;}}
@media (min-width: 1200px) and (max-width: 1399px) {.text{text-align: left;}}
@media (min-width: 992px) and (max-width: 1199px) {.text{text-align: center;}}
@media (min-width: 768px) and (max-width: 991px) {.text{text-align: center;}}
@media (min-width: 576px) and (max-width: 767px) {.text{text-align: center;}}
@media (max-width: 575px) {.text{text-align: center;}}

.block_slide_text {height: 270px;
                   margin-left: 5%; 
                   float: left; 
                   position: absolute;
                   position: relative;}

@media (min-width: 1400px) {.block_slide_text{height: 270px}}
@media (min-width: 1200px) and (max-width: 1399px) {.block_slide_text{height: 270px}}
@media (min-width: 992px) and (max-width: 1199px) {.block_slide_text{height: 200px}}
@media (min-width: 768px) and (max-width: 991px) {.block_slide_text{height: 200px}}
@media (min-width: 576px) and (max-width: 767px) {.block_slide_text{height: 200px}}
@media (max-width: 575px) {.block_slide_text{height: 200px}}

@media (min-width: 1400px) {.block_slide_text{margin-left: 5%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.block_slide_text{margin-left: 5%;}}
@media (min-width: 992px) and (max-width: 1199px) {.block_slide_text{margin-left: 0%;}}
@media (min-width: 768px) and (max-width: 991px) {.block_slide_text{margin-left: 0%;}}
@media (min-width: 576px) and (max-width: 767px) {.block_slide_text{margin-left: 0%;}}
@media (max-width: 575px) {.block_slide_text{margin-left: 0%;}}

.button_text {font-family: Inter; 
	            font-size: 12px;
	            color: #D4DEE3;
	            text-align: center;
	            background: #62A8CD; 
	            border: none; 
	            height: 100%; 
	            position: absolute;}

@media (min-width: 1400px) {.button_text{font-size: 12px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.button_text{font-size: 9px;}}
@media (min-width: 992px) and (max-width: 1199px) {.button_text{font-size: 12px;}}
@media (min-width: 768px) and (max-width: 991px) {.button_text{font-size: 10px;}}
@media (min-width: 576px) and (max-width: 767px) {.button_text{font-size: 10px;}}
@media (max-width: 575px) {.button_text{font-size: 10px;}}

.button_ {position: absolute; 
	        height: 10%; 
	        margin-top: 40%; 
	        text-align: left; 
	        position: relative;} 

@media (min-width: 1400px) {.button_{margin-top: 40%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.button_{margin-top: 45%;}}
@media (min-width: 992px) and (max-width: 1199px) {.button_{margin-top: 20%;}}
@media (min-width: 768px) and (max-width: 991px) {.button_{margin-top: 20%;}}
@media (min-width: 576px) and (max-width: 767px) {.button_{margin-top: 20%;}}
@media (max-width: 575px) {.button_{margin-top: 20%;}}

@media (min-width: 1400px) {.button_{margin-left: 0%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.button_{margin-left: 0%;}}
@media (min-width: 992px) and (max-width: 1199px) {.button_{margin-left: 40%;}}
@media (min-width: 768px) and (max-width: 991px) {.button_{margin-left: 40%;}}
@media (min-width: 576px) and (max-width: 767px) {.button_{margin-left: 40%;}}
@media (max-width: 575px) {.button_{margin-left: 40%;}}

.bg_white {background: #ffffff;
           position: relative;}

.main_ {margin-left: 25%;
        height: 100%;
        position: absolute;
        position: relative;}

@media (min-width: 1400px) {.main_{margin-left: 25%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.main_{margin-left: 25%;}}
@media (min-width: 992px) and (max-width: 1199px) {.main_{margin-left: 12.5%;}}
@media (min-width: 768px) and (max-width: 991px) {.main_{margin-left: 12.5%;}}
@media (min-width: 576px) and (max-width: 767px) {.main_{margin-left: 0%;}}
@media (max-width: 575px) {.main_{margin-left: 0%;}}

.our_service {position: absolute;
	            top: 5%; 
              height: 20%;
              text-align: center;
              font-weight: 200;
              font-family: Inter; 
	            font-size: 35px;
	            font-stretch: 0.01rem;
	            color: #58729D;}

@media (min-width: 1400px) {.our_service{font-size: 35px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.our_service{font-size: 30px;}}
@media (min-width: 992px) and (max-width: 1199px) {.our_service{font-size: 35px;}}
@media (min-width: 768px) and (max-width: 991px) {.our_service{font-size: 30px;}}
@media (min-width: 576px) and (max-width: 767px) {.our_service{font-size: 20px;}}
@media (max-width: 575px) {.our_service{font-size: 20px;}}

.information {height: 75%;
	            top: 25%;
              left: 0%;
	            float: left;
              position: absolute;
              position: relative;}

@media (min-width: 1400px) {.information{height: 75%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.information{height: 75%;}}
@media (min-width: 992px) and (max-width: 1199px) {.information{height: 30%;}}
@media (min-width: 768px) and (max-width: 991px) {.information{height: 30%;}}
@media (min-width: 576px) and (max-width: 767px) {.information{height: 30%;}}
@media (max-width: 575px) {.information{height: 30%;}}

@media (min-width: 1400px) {.information{top: 25%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.information{top: 25%;}}
@media (min-width: 992px) and (max-width: 1199px) {.information{top: 10%;}}
@media (min-width: 768px) and (max-width: 991px) {.information{top: 10%;}}
@media (min-width: 576px) and (max-width: 767px) {.information{top: 10%;}}
@media (max-width: 575px) {.information{top: 10%;}}

@media (min-width: 1400px) {.information{left: 0%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.information{left: 0%;}}
@media (min-width: 992px) and (max-width: 1199px) {.information{left: 37%;}}
@media (min-width: 768px) and (max-width: 991px) {.information{left: 37%;}}
@media (min-width: 576px) and (max-width: 767px) {.information{left: 37%;}}
@media (max-width: 575px) {.information{left: 37%;}}

.image_information {position: absolute;
	                  top: 5%;
	                  height: 35%;
	                  text-align: center;}

.heading {position: absolute;
	        height: 10%;
          top: 45%;
          text-align: center;
          font-family: Inter; 
	        font-size: 15px;
	        font-weight: 700;
	        color: #278BC2;}

@media (min-width: 1400px) {.heading{font-size: 15px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.heading{font-size: 13px;}}
@media (min-width: 992px) and (max-width: 1199px) {.heading{font-size: 20px;}}
@media (min-width: 768px) and (max-width: 991px) {.heading{font-size: 20px;}}
@media (min-width: 576px) and (max-width: 767px) {.heading{font-size: 20px;}}
@media (max-width: 575px) {.heading{font-size: 20px;}}

.text_information {position: absolute;
                   height: 20%;
                   top: 60%;
                   text-align: center;
                   font-family: Inter; 
	                 font-size: 8px;
	                 font-weight: 700;
	                 color: #5E6068;}

@media (min-width: 1400px) {.text_information{font-size: 8px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.text_information{font-size: 7px;}}
@media (min-width: 992px) and (max-width: 1199px) {.text_information{font-size: 10px;}}
@media (min-width: 768px) and (max-width: 991px) {.text_information{font-size: 10px;}}
@media (min-width: 576px) and (max-width: 767px) {.text_information{font-size: 10px;}}
@media (max-width: 575px) {.text_information{font-size: 10px;}}

.button_information {position: absolute;
                     height: 10%;
                     top: 85%;
                     position: relative;}

.button_information_text {font-family: Inter; 
	                        font-size: 8px;
	                        color: #D4DEE3;
	                        text-align: center;
	                        left: 25%;
	                        background: #3E67AC; 
	                        border: none; 
	                        height: 100%; 
	                        position: absolute;}

@media (min-width: 1400px) {.button_information_text{font-size: 8px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.button_information_text{font-size: 7px;}}
@media (min-width: 992px) and (max-width: 1199px) {.button_information_text{font-size: 12px;}}
@media (min-width: 768px) and (max-width: 991px) {.button_information_text{font-size: 12px;}}
@media (min-width: 576px) and (max-width: 767px) {.button_information_text{font-size: 12px;}}
@media (max-width: 575px) {.button_information_text{font-size: 12px;}}

.place1 {left: 12.5%;}

@media (min-width: 1400px) {.place1{left: 12.5%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.place1{left: 12.5%;}}
@media (min-width: 992px) and (max-width: 1199px) {.place1{left: 37%;}}
@media (min-width: 768px) and (max-width: 991px) {.place1{left: 37%;}}
@media (min-width: 576px) and (max-width: 767px) {.place1{left: 37%;}}
@media (max-width: 575px) {.place1{left: 37%;}}

.place2 {left: 25%;}

@media (min-width: 1400px) {.place2{left: 25%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.place2{left: 25%;}}
@media (min-width: 992px) and (max-width: 1199px) {.place2{left: 37%;}}
@media (min-width: 768px) and (max-width: 991px) {.place2{left: 37%;}}
@media (min-width: 576px) and (max-width: 767px) {.place2{left: 37%;}}
@media (max-width: 575px) {.place2{left: 37%;}}

.bg_ {background-image: url(images/Background.png);
      background-size: cover;}

.item_About { height: 400px;}

@media (min-width: 1400px) {.item_About{height: 400px}}
@media (min-width: 1200px) and (max-width: 1399px) {.item_About{height: 350px}}
@media (min-width: 992px) and (max-width: 1199px) {.item_About{height: 800px}}
@media (min-width: 768px) and (max-width: 991px) {.item_About{height: 800px}}
@media (min-width: 576px) and (max-width: 767px) {.item_About{height: 800px}}
@media (max-width: 575px) {.item_About{height: 800px}}

.About {position: absolute;
	      top: 5%; 
        height: 20%;
        text-align: center;
        font-weight: 200;
        font-family: Inter; 
	      font-size: 35px;
	      font-stretch: 0.01rem;
	      color: #545455;}

@media (min-width: 1400px) {.About{font-size: 35px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.About{font-size: 30px;}}
@media (min-width: 992px) and (max-width: 1199px) {.About{font-size: 35px;}}
@media (min-width: 768px) and (max-width: 991px) {.About{font-size: 30px;}}
@media (min-width: 576px) and (max-width: 767px) {.About{font-size: 25px;}}
@media (max-width: 575px) {.About{font-size: 20px;}}

.task_skill {height: 75%;
	           top: 25%;
	           float: left;
             position: absolute;
             position: relative;}

@media (min-width: 1400px) {.task_skill{height: 75%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.task_skill{height: 75%;}}
@media (min-width: 992px) and (max-width: 1199px) {.task_skill{height: 35%;}}
@media (min-width: 768px) and (max-width: 991px) {.task_skill{height: 35%;}}
@media (min-width: 576px) and (max-width: 767px) {.task_skill{height: 35%;}}
@media (max-width: 575px) {.task_skill{height: 35%;}}

@media (min-width: 1400px) {.task_skill{top: 25%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.task_skill{top: 25%;}}
@media (min-width: 992px) and (max-width: 1199px) {.task_skill{top: 15%;}}
@media (min-width: 768px) and (max-width: 991px) {.task_skill{top: 15%;}}
@media (min-width: 576px) and (max-width: 767px) {.task_skill{top: 15%;}}
@media (max-width: 575px) {.task_skill{top: 15%;}}

.button {border-radius: 0%;}

.map {position: absolute;
	    height: 32%;}

@media (min-width: 1400px) {.map{height: 32%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.map{height: 32%;}}
@media (min-width: 992px) and (max-width: 1199px) {.map{height: 52%;}}
@media (min-width: 768px) and (max-width: 991px) {.map{height: 52%;}}
@media (min-width: 576px) and (max-width: 767px) {.map{height: 52%;}}
@media (max-width: 575px) {.map{height: 52%;}}

.enter {position: absolute;
	      height: 68%;
	      top: 32%;}

@media (min-width: 1400px) {.container{top: 32%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.container{top: 32%;}}
@media (min-width: 992px) and (max-width: 1199px) {.container{top: 62%;}}
@media (min-width: 768px) and (max-width: 991px) {.container{top: 62%;}}
@media (min-width: 576px) and (max-width: 767px) {.container{top: 62%;}}
@media (max-width: 575px) {.container{top: 62%;}}

.test_task {position: absolute;
            height: 10%;
            text-align: left;
            font-weight: 600;
            font-family: Inter; 
	          font-size: 27px;
	          font-stretch: 0.01rem;
	          color: #868789;}

@media (min-width: 1400px) {.test_task{font-size: 27px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.test_task{font-size: 22px;}}
@media (min-width: 992px) and (max-width: 1199px) {.test_task{font-size: 27px;}}
@media (min-width: 768px) and (max-width: 991px) {.test_task{font-size: 25px;}}
@media (min-width: 576px) and (max-width: 767px) {.test_task{font-size: 15px;}}
@media (max-width: 575px) {.test_task{font-size: 15px;}}

.test_task_info {position: absolute;
                 height: 25%;
                 top: 15%;
                 text-align: justify;
                 font-weight: 700; 
                 font-family: Inter; 
	               font-size: 9px;
	               color: #545455;}

@media (min-width: 1400px) {.test_task_info{font-size: 9px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.test_task_info{font-size: 7px;}}
@media (min-width: 992px) and (max-width: 1199px) {.test_task_info{font-size: 12px;}}
@media (min-width: 768px) and (max-width: 991px) {.test_task_info{font-size: 12px;}}
@media (min-width: 576px) and (max-width: 767px) {.test_task_info{font-size: 12px;}}
@media (max-width: 575px) {.test_task_info{font-size: 12px;}}

.skills {position: absolute;
         height: 6%;
         top: 45%;
         text-align: left;
         font-weight: 700;
         font-family: Inter; 
	       font-size: 15px;
	       color: #278BC2;}

@media (min-width: 1400px) {.skills{font-size: 15px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.skills{font-size: 12px;}}
@media (min-width: 992px) and (max-width: 1199px) {.skills{font-size: 15px;}}
@media (min-width: 768px) and (max-width: 991px) {.skills{font-size: 15px;}}
@media (min-width: 576px) and (max-width: 767px) {.skills{font-size: 5px;}}
@media (max-width: 575px) {.skills{font-size: 5px;}}

.p1 {position: absolute;
     top: 54%;}

.progress {position: absolute; 
	         height: 7%; 
	         font-size: 10px;
           background-color: #6c757d;
           border-radius: 0;}

@media (min-width: 1400px) {.progress{font-size: 10px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.progress{font-size: 10px;}}
@media (min-width: 992px) and (max-width: 1199px) {.progress{font-size: 10px;}}
@media (min-width: 768px) and (max-width: 991px) {.progress{font-size: 10px;}}
@media (min-width: 576px) and (max-width: 767px) {.progress{font-size: 5px;}}
@media (max-width: 575px) {.progress{font-size: 5px;}}

.progress-bar {color: #D4DEE3;
	             text-align: left;
               background-color: #206DB0;}

.p2 {position: absolute;
     top: 64%;}

.p3 {position: absolute;
     top: 74%;}

.p4 {position: absolute;
     top: 84%;}

.form-control {position: absolute;
               padding: 0px 0px;
               height: 10.1%;
               font-size: 11px;
               color: #868789;
               background-color: #fff;
               border: 0px;
               border-radius: 0px;}

@media (min-width: 1400px) {.form-control{font-size: 11px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.form-control{font-size: 9px;}}
@media (min-width: 992px) and (max-width: 1199px) {.form-control{font-size: 11px;}}
@media (min-width: 768px) and (max-width: 991px) {.form-control{font-size: 9px;}}
@media (min-width: 576px) and (max-width: 767px) {.form-control{font-size: 7px;}}
@media (max-width: 575px) {.form-control{font-size: 7px;}}

.p8 {position: absolute; 
	   top: 46.3%;
	   height: 39.7%;
	   position: relative;}

@media (min-width: 1400px) {.p8{top: 46.3%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.p8{top: 46.3%;}}
@media (min-width: 992px) and (max-width: 1199px) {.p8{top: 76.3%;}}
@media (min-width: 768px) and (max-width: 991px) {.p8{top: 76.3%;}}
@media (min-width: 576px) and (max-width: 767px) {.p8{top: 76.3%;}}
@media (max-width: 575px) {.p8{top: 76.3%;}}

.form-control_1 {position: absolute;
	               display: block;
                 width: 100%;
                 padding: 0px 0px;
                 height: 100%;
                 font-size: 11px;
                 font-weight: 400;
                 line-height: 1.5;
                 color: #868789;
                 background-color: #fff;
                 background-clip: padding-box;
                 border: 0px;
                 -webkit-appearance: none;
                 -moz-appearance: none;
                 appearance: none;
                 border-radius: 0px;
                 transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}

@media (min-width: 1400px) {.form-control_1{font-size: 11px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.form-control_1{font-size: 9px;}}
@media (min-width: 992px) and (max-width: 1199px) {.form-control_1{font-size: 11px;}}
@media (min-width: 768px) and (max-width: 991px) {.form-control_1{font-size: 9px;}}
@media (min-width: 576px) and (max-width: 767px) {.form-control_1{font-size: 7px;}}
@media (max-width: 575px) {.form-control_1{font-size: 7px;}}

.p5 {top: 4%;}

@media (min-width: 1400px) {.p5{top: 4%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.p5{top: 4%;}}
@media (min-width: 992px) and (max-width: 1199px) {.p5{top: 34%;}}
@media (min-width: 768px) and (max-width: 991px) {.p5{top: 34%;}}
@media (min-width: 576px) and (max-width: 767px) {.p5{top: 34%;}}
@media (max-width: 575px) {.p5{top: 34%;}}

.p6 {top: 18.1%;}

@media (min-width: 1400px) {.p6{top: 18.1%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.p6{top: 18.1%;}}
@media (min-width: 992px) and (max-width: 1199px) {.p6{top: 48.1%;}}
@media (min-width: 768px) and (max-width: 991px) {.p6{top: 48.1%;}}
@media (min-width: 576px) and (max-width: 767px) {.p6{top: 48.1%;}}
@media (max-width: 575px) {.p6{top: 48.1%;}}

.p7 {top: 32.2%;}

@media (min-width: 1400px) {.p7{top: 32.2%;}}
@media (min-width: 1200px) and (max-width: 1399px) {.p7{top: 32.2%;}}
@media (min-width: 992px) and (max-width: 1199px) {.p7{top: 62.2%;}}
@media (min-width: 768px) and (max-width: 991px) {.p7{top: 62.2%;}}
@media (min-width: 576px) and (max-width: 767px) {.p7{top: 62.2%;}}
@media (max-width: 575px) {.p7{top: 62.2%;}}

.p9 {top: 0;}

.p10 {top: 75%;
      left: 83.4%;}

.btn {color: #D4DEE3;
      background-color: #206DB0;
      border: 0px;
      padding: 0px 0px;
      font-size: 11px;
      border-radius: 0px;
      position: absolute;
      height: 25%;}

@media (min-width: 1400px) {.btn{font-size: 11px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.btn{font-size: 9px;}}
@media (min-width: 992px) and (max-width: 1199px) {.btn{font-size: 11px;}}
@media (min-width: 768px) and (max-width: 991px) {.btn{font-size: 9px;}}
@media (min-width: 576px) and (max-width: 767px) {.btn{font-size: 7px;}}
@media (max-width: 575px) {.btn{font-size: 7px;}}

.footer {position: relative;
	       padding: 2% 2%;
	       font-weight: 900; 
         text-align: center;
         font-family: Inter; 
	       font-size: 10px;
	       color: #58729D;}

@media (min-width: 1400px) {.footer{font-size: 10px;}}
@media (min-width: 1200px) and (max-width: 1399px) {.footer{font-size: 10px;}}
@media (min-width: 992px) and (max-width: 1199px) {.footer{font-size: 10px;}}
@media (min-width: 768px) and (max-width: 991px) {.footer{font-size: 10px;}}
@media (min-width: 576px) and (max-width: 767px) {.footer{font-size: 10px;}}
@media (max-width: 575px) {.footer{font-size: 10px;}}